{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ирина Вайс | Дизайн интерьеров</title>
    <link rel="stylesheet" type="text/css" href="{% static 'info/style.css' %}"/>
</head>
<body>
{% include 'info/menu.html' %}
<div class="content-wrap">
    <div class="content">
        <div class="content-left">
            <img class="content-block" src="{% static 'info/images/image0.jpg' %}">

            <div class="content-quote content-block content-dark"><p>Небольшая цитата о дизайне интерьеров</p></div>
            <div class="content-block">
                <img class="content-subblock" src="{% static 'info/images/image3.jpg' %}">
                <img class="content-subblock" src="{% static 'info/images/image2.jpg' %}">
            </div>
        </div>
        <div class="content-right">
            <div class="content-about content-block content-dark">
                <h2>Обо мне</h2>

                <p>
                    Ирина Вайс - дизайнер интерьеров. Куча другого текста.
                </p>
            </div>
            <img class="content-photo content-block"
                 src="http://static.wixstatic.com/media/11d79d_faa4a14a662f429fa66bb9a7f13ca56e.jpg_srz_p_324_430_75_22_0.50_1.20_0.00_jpg_srz">

            <div class="content-contact content-block content-dark">
                <p>fusion_design@mail.ru</p>

                <p>+7 918 303 3000</p>
            </div>
        </div>

    </div>
</div>
</div>
{% include 'info/footer.html' %}
</body>
</html>