{% load staticfiles %}
<div class="menu-wrap">
    <div class="menu">
        <div class="menu-item-wrap">
            <a href="#"><img src="{% static 'info/images/logo.png' %}"></a>
        </div>
        <div class="menu-item-wrap">
            <a href="#">
                <div class="menu-item">Главная</div>
            </a></div>
        <div class="menu-item-wrap"><a href="#">
            <div class="menu-item">Проекты</div>
        </a></div>
        <div class="menu-item-wrap"><a href="#">
            <div class="menu-item">Услуги</div>
        </a></div>
        <div class="menu-item-wrap"><a href="#">
            <div class="menu-item">Контрагенты</div>
        </a></div>
        <div class="menu-item-wrap"><a href="#">
            <div class="menu-item">Контакты</div>
        </a></div>
        <div class="menu-item-wrap"><a href="#">
            <div class="menu-item">Отзывы</div>
        </a></div>
    </div>
</div>