{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ирина Вайс | Дизайн интерьеров</title>
    <link rel="stylesheet" type="text/css" href="{% static 'info/style.css' %}"/>
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'info/magnific-popup.css' %}">

    <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- Magnific Popup core JS file -->
    <script src="{% static 'info/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'info/js/portfolio.pack.min.js' %}"></script>
</head>
<body>
{% include 'info/menu.html' %}
<div class="content-wrap">
    <div class="content">
        <h2>{{ project.title }}</h2>

        <div class="project-gallery">
            {% for image in project.gallery.images.all %}
                {% thumbnail image "240x180" crop="center" as im %}
                    <div class="gallery-item">
                        <a href="{{ image.path.url }}">
                            <img src="{{ im.url }}">
                        </a>
                    </div>
                {% endthumbnail %}
            {% endfor %}
        </div>
        <div class="project-descr">{{ project.description }}</div>
    </div>
</div>
{% include 'info/footer.html' %}
</body>
</html>
<script type="application/javascript">
    $('.project-gallery').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true
        },
    });
    var p = $(".project-gallery img").portfolio({
        enableKeyboardNavigation: true, // enable / disable keyboard navigation (default: true)
        loop: false, // loop on / off (default: false)
        easingMethod: 'easeOutQuint', // other easing methods please refer: http://gsgd.co.uk/sandbox/jquery/easing/
        height: '300px', // gallery height
        width: '100%', // gallery width in pixels or in percentage
        lightbox: false, // dim off other images, highlights only currently viewing image
        showArrows: true, // show next / prev buttons
        logger: false, // for debugging purpose, turns on/off console.log() statements in the script
        spinnerColor: '#000', // Ajax loader color
        offsetLeft: -4, // position left value for current image
        opacityLightbox: '0.2' // opacity of other images which are not active

    });
    p.init();
</script>