{% load staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ирина Вайс | Дизайн интерьеров</title>
    <link rel="stylesheet" type="text/css" href="{% static 'info/style.css' %}"/>
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'info/magnific-popup.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'info/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'info/slick/slick-theme.css' %}"/>


    <!-- Magnific Popup core JS file -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static 'info/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'info/js/portfolio.pack.min.js' %}"></script>


    <script type="text/javascript" src="{% static 'info/js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'info/slick/slick.js' %}"></script>
</head>
<body>
{% include 'info/menu.html' %}
<div class="content-wrap">
    <div class="content">
        <h2 class="title">{{ project.title }}</h2>

        <div class="carousel">
            {% for image in project.gallery.images.all %}
                {% thumbnail image "240x180" crop="center" as im %}
                    <div>
                        <a class="carousel-item" href="{{ image.path.url }}"><img
                                src="{{ im.url }}"/></a>
                    </div>
                {% endthumbnail %}
            {% endfor %}
        </div>
        <div class="project-descr">{{ project.description }}</div>
    </div>
</div>

{% include 'info/footer.html' %}
</body>
</html>
<script type="application/javascript">
    $('.carousel').magnificPopup({
        delegate: 'a',
        type: 'image',
        gallery: {
            enabled: true
        }
        // other options
    });
    $('.carousel').slick({
        infinite: false,
        slidesToShow: 4,
        slidesToScroll: 1
    });
</script>