/* font-family: "ComfortaaRegular"; */
@font-face {
    font-family: "ComfortaaRegular";
    src: url("fonts/ComfortaaRegular/ComfortaaRegular.eot");
    src: url("fonts/ComfortaaRegular/ComfortaaRegular.eot?#iefix") format("embedded-opentype"),
    url("fonts/ComfortaaRegular/ComfortaaRegular.woff") format("woff"),
    url("fonts/ComfortaaRegular/ComfortaaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #f7f7f7;
    color: #444;
    font-family: Georgia, Verdana, Helvetica;
    /*font-feature-settings: "'liga' 1";*/
    font-kerning: auto;
    font-style: normal;
    font-size: 1.0em;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5em;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    word-spacing: 0;
}

.body-wrap {
    /*background-color: #ffffff;*/
    width: 1080px;
    margin: 0 auto;
}

p {
    /*font-family: Verdana, Times, serif;*/
}

h2 {
    /*font-family: Verdana, Times, serif;*/
    font-weight: normal;
    font-size: 1.4em;
}

div.header-wrap {
    width: 100%;
}

div.header {
    margin: 0 auto;
    width: 1080px;
    text-align: center;
    /*background-color: #ffffff;*/
}

div.menu-wrap {
    width: 1080px;
    margin: 20px auto;
    /*background-color: #ffffff;*/

}

.menu {
    margin: 0 auto;
    white-space: nowrap;
    height: 60px;
    font-family: "ComfortaaRegular", Verdana, Helvetica;
}

img.logo {
    max-width: 100%;
    max-height: 100%;
}

div.menu-item {
    border-top-style: solid;
    border-top-width: 1px;
    padding: 3px 20px;
    text-align: center;
    margin: 15px 5px;
}

.menu-item-wrap {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

div.menu-item:hover {
    background-color: #F28955;
    transition: 0.1s;
}

div.content-wrap {
    width: 1080px;
    margin: 30px auto 5px auto;
    /*background-color: #ffffff;*/
}

div.content {
    margin: 0 auto;
    white-space: normal;
}

div.content-left {
    display: inline-block;
    width: 64%;
    white-space: normal;
    vertical-align: top;
}

div.content img {
    max-width: 100%;
    max-height: 100%;
}

div.content-quote {
}

div.content-quote p {
    margin: 0 auto;
    padding: 10px;

}

div.content-right {
    display: inline-block;
    width: 34%;
    white-space: normal;
    margin-left: 3px;
    vertical-align: top;
}

div.content-about {
    width: 100%;
    /*height: 200px;*/
}

div.content-about h2 {
    padding: 15px;
    margin: 0 auto;
    width: 100%;
}

div.content-about p {
    padding: 5px 15px 15px 15px;
    width: 100%;
    margin: 0 auto;
}

.content-dark {
    background-color: #444444;
}

.content-dark p {
    color: #ffffff;
}

.content-dark h2 {
    color: #ffffff;
}

div.content-contact {
    width: 100%;
    text-align: center;
}

div.content-contact p {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
}

.content-block {
    margin-top: 4px;
    vertical-align: top;
    width: 100%;
}

.content-subblock {
    display: inline-block;
    width: calc(50% - 2.5px);
}

div.footer-wrap {
    border-top-style: solid;
    border-top-width: 2px;
    border-color: #F28955;
    width: 1080px;
    margin: 5px auto;
}

div.footer {
    /*display: inline;*/
    margin: 0 auto;
    /*background-color: #444444;*/
    /*color: #ffffff;*/
    padding: 10px;
    /*width: 60%;*/
    text-align: center;
}

.portfolio-block {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 5px 30px 5px 0px;
    white-space: normal;
    background-size: 100%;
    height: 300px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
}

.portfolio-block p {
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 1.0em;
}

.portfolio-block h2 {
    padding: 5px 10px;
    /*font-weight: normal;*/
    margin: 0 auto;
    font-size: 1.3em;
    /*text-decoration: underline;*/
}

.portfolio-inner {
    vertical-align: bottom;
    position: absolute;
    bottom: 0;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    background-color: rgba(68, 68, 68, 0.8);
    color: #ffffff;
    width: 100%;
    margin: 0 auto;
    height: 100px;
}

.portfolio-block:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #F28955;
    transition: .1s;
}

.portfolio-block:hover h2 {
    color: #F28955;
    transition: .1s;
}

.project-descr {
    border-style: solid none none none;
    border-width: 2px 0;
    border-color: #F28955;
    padding: 10px 20px;
    text-indent: 40px;
    text-align: justify;
}

.gallery-item {
    display: inline-block;
    width: 240px;
    margin: 10px;
}

h2.title {
    font-size: 1.4em;
    border-style: none none solid none;
    border-width: 0 0 5px 0;
    border-color: #F28955;
    padding: 0 0 10px 0;
    /*display:inline-block;*/
}
